<header>
    <div id="header-container">
        <nav>
            <ul>
                <div id="nav-top">
                    <li>
                        <a href="/admin">
                            <img src="/img/logo.png" alt="Codle Logo">
                        </a>
                    </li>
                    <li>
                        <a href="/admin"><img class="invert" src="/img/dashboard.svg">Dashboard</a>
                    </li>
                    <li>
                        <a href="/admin/users"><img class="invert" src="/img/users.svg">Users</a>
                    </li>
                    <li>
                        <a href="/admin/problems"><img class="invert" src="/img/problems.svg">Problems</a>
                    </li>
                </div>
                <li>
                    <a href="/"><img class="invert" src="/img/door.svg">Leave</a>
                </li>
            </ul>
        </nav>
    </div>
</header>