<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codle Dashboard</title>
    <link rel="icon" type="image/svg" href="/img/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/adminMain.css">
    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="/css/adminIndex.css">
    <link rel="stylesheet" href="/css/animations.css">
    <script type="module" src="/js/adminIndex.js" defer></script>
    <script type="module" src="/js/adminMain.js" defer></script>
</head>

<body>
    <%- include('components/adminHeader.ejs') %>
        <main>
            <h1>Dashboard</h1>
            <div id="main-container">
                <a href="/admin/users" id="users-card" class="card">
                    <h2>Users</h2>
                    <div id="total-users" class="total">
                        <p>Total Users</p>
                        <div id="user-count">?</div>
                    </div>
                </a>
                <a href="/admin/problems" id="problems-card" class="card">
                    <h2>Problems</h2>
                    <div id="total-problems" class="total">
                        <p>Total Problems</p>
                        <div id="problem-count">?</div>
                    </div>
                </a>
            </div>
            </div>
            </div>
        </main>
</body>

</html>